*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
    background: url(images/ask-2341784_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.FAQ-container{
    width: 35%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.FAQ-container .title{
    margin-bottom: 30px;
    text-align: center;
    font-size: 3.4rem;
}

.FAQ-container .content-container .question{
    position: relative;
    padding: 18px 0;
    font-size: 2.2rem;
    cursor: pointer;
    border-bottom: 1px solid #000000;
    transition: 0.5s;
}

.FAQ-container .content-container .question::after{
    content: '+';
    position: absolute;
    right: -5px;
    transition: 0.5;
}

.FAQ-container .content-container .answer{
    font-size: 1.6rem;
    padding-top: 12px;
    line-height: 1.5;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}

 .FAQ-container .content-container.active .answer{
    height: 80px;
}

.FAQ-container .content-container.active .question{
    font-size: 2rem;
    transition: 0.5s;
}

.FAQ-container .content-container.active .question::after{
    content: '-';
    font-size: 40px;
    transition: 0.5;
    top: 5px;
}